.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 5px;
}

.ant-collapse-header {
  background: transparent;
  color: #03045e !important;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: "semibold";
  font-style: normal;
  padding: 15px 10px 15px 30px !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-collapse-content {
  padding-left: 0px !important;
  padding-right: 20px !important;
}

.ant-collapse-item > .ant-collapse-header:focus {
  border: 1px solid transparent;
  background: transparent;
}

.ant-collapse-item > .ant-collapse-header:active {
  border: 1px solid transparent;
  background: transparent;
}

.ant-collapse-header {
  border: 1px solid transparent;
}

.ant-collapse-item-active .ant-collapse-header {
  border: 1px solid transparent;
  background: transparent;
}
:where(.css-dev-only-do-not-override-amq5gd).ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding-block: 0px;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 10px 40px 18px 30px;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header {
  display: flex;
  align-items: start;
}

@media screen and (max-width: 1535px) and (min-width: 1280px) {
  .ant-collapse-header {
    font-size: 15px;
    padding: 15px 5px 15px 25px !important;
    border-radius: 5px !important;
  }
  :where(.css-dev-only-do-not-override-amq5gd).ant-collapse
    .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px 25px 18px 25px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .ant-collapse-header {
    font-size: 14.5px;
    padding: 15px 10px 15px 20px !important;
    border-radius: 5px !important;
  }
  :where(.css-dev-only-do-not-override-amq5gd).ant-collapse
    .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px 20px 18px 20px;
  }
  .ant-collapse-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 1023px) and (min-width: 900px) {
  .ant-collapse-header {
    font-size: 16px;
    padding: 15px 20px 15px 25px !important;
    border-radius: 5px !important;
  }
  :where(.css-dev-only-do-not-override-amq5gd).ant-collapse
    .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px 25px 18px 25px;
  }
  .ant-collapse-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 899px) and (min-width: 769px) {
  .ant-collapse-header {
    font-size: 16px;
    padding: 15px 15px 15px 20px !important;
    border-radius: 5px !important;
  }
  :where(.css-dev-only-do-not-override-amq5gd).ant-collapse
    .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px 20px 18px 20px;
  }
  .ant-collapse-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .ant-collapse-header {
    font-size: 15px;
    padding: 15px 15px 15px 20px !important;
    border-radius: 5px !important;
  }
  :where(.css-dev-only-do-not-override-amq5gd).ant-collapse
    .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px 20px 18px 20px;
  }
  .ant-collapse-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 425px) {
  .ant-collapse-header {
    font-size: 15px;
    padding: 15px 15px 15px 20px !important;
    border-radius: 5px !important;
  }
  :where(.css-dev-only-do-not-override-amq5gd).ant-collapse
    .ant-collapse-content
    > .ant-collapse-content-box {
    padding: 10px 20px 18px 20px;
  }
  .ant-collapse-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
